body {
    font-size: 14px;
    line-height: normal;
    color: #333333;
    font-weight: normal;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;

}

.main-title {
  font-size: 21px;
  line-height: normal;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.reason-title {
  font-size: 21px;
  line-height: normal;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.container {
  width: 1200px;
  /*padding: 0 10px;*/
  margin: 0 auto;
  /*back*/
  background: red;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-nav {
  width: 1200px;
  background: yellow;
}

 .main-nav a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0 63px;
  min-height: 55px;
  /*back*/
  background: blue;
  box-sizing: border-box;
}
.promo {
min-height: 725px;
/*back*/
background: green;
box-sizing: border-box;
}

.reason {
float:left;
width: 400px;
min-height: 256px;
background: gray;
box-sizing: border-box;
}


.reason-photo {
float: left;
}

.features-item {
  width: 400px;
  min-height: 330px;
  float: left;
  background: white;
}

.search {
min-height: 885px;
background: brown;
}

.search-form {
  margin: 0 auto;
  width: 565px;
  min-height: 480px;
}

.footer-hashtag {
    float: left;
    width: 160px;
    margin-right: `100px;
    min-height: 120px;
}

.social {
  float: left;
  width: 160px;
  margin-left: 100px;
  min-height: 120px;
}

.copyright {
  float: right;
  width: 160px;
  margin-left: : 60px;
  min-height: 120px;

}
