body {
    font-size: 14px;
    line-height: normal;
    color: #333333;
    font-weight: normal;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;

}

.main-title {
  font-size: 21px;
  line-height: normal;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.reason-title {
  font-size: 21px;
  line-height: normal;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
